<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Body content-->
      <h2>Generic List</h2>
      <ul>
        <li ng-repeat="item in $ctrl.listItems">
          <a href="#!/item/{{item.id}}" >
            <h4>{{item.name}}</h4>
            <p>{{item.description}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

