<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Body content-->
      <h2>Generic Detail</h2>
      <h4>{{$ctrl.item.name}}</h4>
      <p>{{$ctrl.item.description}}</p>
      <a href="#!/list">Back</a>
    </div>
  </div>
</div>